.container {
    max-width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.content p {
    font-weight: bold;
}

.form__button{
    margin-top: 30px;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
}

.form__resend {
    margin-top: 40px;
    border: none;
    background-color: white;
    color: rgba(2, 141, 255);
}

