.header {
    max-width: 100%;
    background: #000;
    box-sizing: border-box;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

.header__logo img {
    height: 32px;
}

.header__search__form {
    flex-grow: 1;
    max-width: 400px;
}

.header__search-input {
    width: 100%;
    height: 34px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 10px;
}

.header__link,
.header__link__button__logout {
    color: #fff;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 15px;
}

.header__link__sell {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid white;
    background-color: white;
    padding: 5px 10px;
}

.main {
    margin: 40px auto;
    width: 100%;
}

.profile__wrapper {
    max-width: 980px;
    margin:0px auto;
    padding: 25px 20px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
}

.profile__image img {
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.profile__info {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.profile__name {
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.profile__edit{
    display: inline-block;
    padding:6px 14px;
    border: 1px solid rgb(247, 86, 86);
    text-decoration: none;
    color: rgb(247, 86, 86);
    border-radius: 3px;
    cursor: pointer;
    margin-left: auto;
}

.profile__edit:hover{
    background-color: red;
    color: white;
}

.menu {
    border-bottom: 1px solid #868585;
    display: flex;
    margin: 20px 0;
}



.menu a {
    margin-bottom: 10px;
    text-decoration: none;
    margin-left: 70px;
    color: rgb(136, 134, 134);
}

span {
    color: red;
}

.product__list {
    width: 100%;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
   justify-content: center;
}


@media (max-width: 768px) {

    .header {
        max-width: 100%;
    }

    .header__logo img {
        font: 24px;
    }

    .header__inner {
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }

    .header__search__form {
        order: 3;
        width: 60%;
        margin: 10px 0;
    }

    .header__nav {
        order: 2;
        gap: 10px;
    }

    .header__link,
    .header__link__button__logout {
        font-size: 15px;
    }

    .header__link__sell {
        padding: 4px 10px;
        font-size: 10px;
    }

    .main {
        margin: 80px auto;
    }

    .profile__wrapper {
        max-width: 80%;

    }
}