.header {
    max-width: 100%;
    background: #000;
    box-sizing: border-box;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

.header__logo img {
    height: 32px;
}

.header__search__form {
    flex-grow: 1;
    max-width: 400px;
}

.header__search-input {
    width: 100%;
    height: 34px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 10px;
}

.header__link,
.header__link__button__logout {
    color: #fff;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 15px;
}

.header__link__sell {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid white;
    background-color: white;
    padding: 5px 10px;
}


@media (max-width: 768px) {

    .header {
        max-width: 100%;
    }

    .header__logo img {
        font: 24px;
    }

    .header__inner {
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }

    .header__search__form {
        order: 3;
        width: 60%;
        margin: 10px 0;
    }

    .header__nav {
        order: 2;
        gap: 10px;
    }

    .header__link,
    .header__link__button__logout {
        font-size: 15px;
    }

    .header__link__sell {
        padding: 4px 10px;
        font-size: 10px;
    }
}