.header {
    max-width: 100%;
    background: #000;
    box-sizing: border-box;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

.header__logo img {
    height: 32px;
}

.header__search__form {
    flex-grow: 1;
    max-width: 400px;
}

.header__search-input {
    width: 100%;
    height: 34px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 10px;
}

.header__link,
.header__link__button__logout {
    color: #fff;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 15px;
}

.header__link__sell {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid white;
    background-color: white;
    padding: 5px 10px;
}

.product__content {
    width: 90%;
    margin:40px auto;
    display: flex;
    justify-content: space-between;
}

.product{
    width: 60%;
}

.product__name {
    font-weight: bold;
    font-size: 30px;
}

.product__price {
    font-size: 23px;
}

.product__image{
    display: flex;
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.product__information{
    margin-left: 30px;
}

.product__title {
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 10px;
}

.product__payment {
    border-bottom: 1px solid #454444;
    margin-bottom: 20px;
    padding-bottom: 20px;

}

.form__select {
    width: 25%;
    height: 30px;
    margin-left: 30px;
}

.product__change__delivary{
    display: flex;
    justify-content: space-between;
}

.product__change__delivary a {
    text-decoration: none;
    color: rgb(2, 141, 255);
    cursor: pointer;  
}

.product__postal {
    border-bottom: 1px solid #454444;
}

.product__postal p {
    margin-left: 30px;
}

.product__address{
    display: flex;
    gap: 5px;
}

.product__datail {
    width: 30%;
    height: fit-content;
    padding: 20px;
}

.product__table {
    border: 1px solid #454444;
    margin-bottom: 35px;
}

.product__table table {
    width: 100%;
    border-collapse: collapse;
}

.product__table th,
.product__table td {
    border-bottom: 2px solid #ddd;
    padding: 15px;
}

.product__table td{
    font-size: 24px;
}

.form__submit {
    width: 100%;
    background-color: rgb(247, 86, 86);
    color: white;
    border-radius: 3px;
    border: none;
    padding: 10px 0;
    cursor: pointer;
}

.form__error {
    color: red;
    margin-top: 10px;
}


@media (max-width: 768px) {

    .header {
        max-width: 100%;
    }

    .header__logo img {
        font: 24px;
    }

    .header__inner {
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }

    .header__search__form {
        order: 3;
        width: 60%;
        margin: 10px 0;
    }

    .header__nav {
        order: 2;
        gap: 10px;
    }

    .header__link,
    .header__link__button__logout {
        font-size: 15px;
    }

    .header__link__sell {
        padding: 4px 10px;
        font-size: 10px;
    }

    .product__content {
        margin: 80px auto;
        flex-direction: column;
        align-items: center;
    }

    .product {
        width: 100%;
    }

    .product__datail {
        width: 70%;
        margin-top: 30px;
    }
}