.header {
    max-width: 100%;
    background: #000;
    box-sizing: border-box;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

.header__logo img {
    height: 32px;
}

.header__search__form {
    flex-grow: 1;
    max-width: 400px;
}

.header__search-input {
    width: 100%;
    height: 34px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 10px;
}

.header__link,
.header__link__button__logout {
    color: #fff;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 15px;
}

.header__link__sell {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid white;
    background-color: white;
    padding: 5px 10px;
}

.content {
    max-width: 100%;
    text-align: center;
}

.content__title {
    margin: 30px auto;
}

.content__form {
    width: 400px;
    margin: 0 auto;
}

.form__group {
    margin-bottom: 15px;
    display: flex;
    text-align: left;
    flex-direction: column;
}

.form__label{
    font-weight: bold;
    margin-bottom: 10px;
}

.form__title{
    font-weight: bold;
    color:#888787;
    border-bottom: 2px solid #b8b7b7;
}

.category__label{
    font-weight: bold;
    margin-bottom: 15px;
}

.form__image{
    border:1px solid #ddd;
    height: 150px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.form__image__input {
    position: absolute;
    width: 15px;
    height: 15px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.form__image__button{
    border: 1px solid rgb(247, 86, 86);
    border-radius: 3px;
    color:rgb(247, 86, 86);
    padding:10px;
    cursor: pointer;
}

.form__image__button:hover{
    background: red;
    color:white;
}

.category__tag input[type="radio"] {
    display: none;
}
.category__tag {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 15px 0;
}

.category__tag input[type="checkbox"] {
    display: none;
}

.tag {
    color:rgb(247, 86, 86);
    margin:3px;
    border:2px solid rgb(247, 86, 86);
    border-radius: 30px;
    padding: 3px 8px;
    font-size: 10px;
    cursor: pointer;
}

.category__tag input[type="checkbox"]:checked + .tag{
    color:white;
    background-color: red;
}

select,
::picker(select) {
    appearance: base-select;
}

select{
    padding: 5px;
    border: 1px solid #c3c0c0;
    border-radius: 3px;
    cursor: pointer;
}

option {
    background-color: #787878;
    color: white;
    cursor: pointer;
}

option:hover {
    background-color: rgb(0, 102, 255);
}

option[value=""] {
    display: none;
}

option:ckecked::before {
    content: "✓";
}

.form__group input {
    padding: 5px;
    border:1px solid #c3c0c0;
    color:black;
    border-radius: 3px;
}

textarea {
    padding: 10px;
    border: 1px solid #c3c0c0;
    border-radius: 3px;
}

.button__submit {
    width:100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(247, 86, 86);
    padding: 10px;
    border:none;
    border-radius: 3px;
    color:white;
    cursor: pointer;
}

.button__submit:hover{
    background-color: red;
}

.form__error {
    color:red;
    margin-top: 10px;
}

@media (max-width: 768px) {

    .header {
        max-width: 100%;
    }

    .header__logo img {
        font: 24px;
    }

    .header__inner {
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }

    .header__search__form {
        order: 3;
        width: 60%;
        margin: 10px 0;
    }

    .header__nav {
        order: 2;
        gap: 10px;
    }

    .header__link,
    .header__link__button__logout {
        font-size: 15px;
    }

    .header__link__sell {
        padding: 4px 10px;
        font-size: 10px;
    }

    .content__title {
        margin: 80px auto;
    }
}